
.login-background-tiny {
  background-image: url("../../resources/Lava_Cave_Tiny.jpg");
  background-position: center;
  background-size: cover;
}

.login-background-small {
  background-image: url("../../resources/Lava_Cave_Small.jpg");
  background-position: center;
  background-size: cover;
}

.login-background {
  background-image: url("../../resources/Lava_Cave.jpg");
  background-position: center;
  background-size: cover;
}

.login-vignette {
  box-shadow: 0 0 256px black inset;
}

.login-shadow-dark {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.75) !important;
}

.login-logo {
  max-width: 48px;
  max-height: 48px;
}