
.mine-node-container {
    padding: 256px;
    user-select: none;
}

.mine-other-button {
    max-width: 8rem;
}

.mine-button {
    max-width: 12rem;
}

.mine-button.btn:disabled {
    opacity: inherit;
}

.mine-button .progress {
    background-color: var(--um-primary-dark);
}