
.node-container {
    padding: 256px;
    user-select: none;
}

.other-button {
    max-width: 6rem;
}

.mine-button {
    max-width: 10rem;
}

.mine-button.btn:disabled {
    opacity: inherit;
}

.mine-button .progress {
    background-color: var(--um-primary-dark);
}