
.node-container {
    padding: 256px;
}

.animated-node-element {
    transition: top 100ms, left 100ms, opacity 500ms;
    transition-timing-function: linear;
    user-select: none;
}

.other-button {
    max-width: 6rem;
}

.mine-button {
    max-width: 10rem;
}

.mine-button.btn:disabled {
    opacity: inherit;
}

.mine-button .progress {
    background-color: var(--primary-dark);
}