
.nav-panel {
    width: 24rem;
    background-color: var(--um-very-dark);
}

.nav-header {
    box-shadow: 0 0.25rem 1rem rgba(0, 0, 0, 0.2);
}

.nav-logo {
    max-width: 48px;
    max-height: 48px;
}

.nav-item {
    cursor: pointer;
    transition: color 0.1s linear;
}

.nav-item:hover {
    color: var(--bs-light) !important;
}

.nav-item.selected{
    color: var(--bs-primary) !important;
}

.nav-item-icon {
    width: 48px;
    text-align: center;
}

