@use 'sass:color';

#root {
    background-color: $dark;
    color: $text-light;
}

.card-header {
    background-color: $gray-700;
}

.card {
    background-color: $gray-800;
}

.progress {
    background-color: $gray-900;
}

.text-inset {
    color: color.scale($dark, $lightness: -25%);
}

.fs-7 {
    font-size: $font-size-base * 0.75;
}

.btn-discord {
    @include button-variant($blurple, $blurple);
}